<%- model_class = MedicoverVisitQuery -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:region) %>:</strong></dt>
  <dd><%= @medicover_visit_query.region %></dd>
  <dt><strong><%= model_class.human_attribute_name(:booking_type) %>:</strong></dt>
  <dd><%= @medicover_visit_query.booking_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specialization) %>:</strong></dt>
  <dd><%= @medicover_visit_query.specialization %></dd>
  <dt><strong><%= model_class.human_attribute_name(:clinic) %>:</strong></dt>
  <dd><%= @medicover_visit_query.clinic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
  <dd><%= @medicover_visit_query.language %></dd>
  <dt><strong><%= model_class.human_attribute_name(:doctor) %>:</strong></dt>
  <dd><%= @medicover_visit_query.doctor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:search_since) %>:</strong></dt>
  <dd><%= @medicover_visit_query.search_since %></dd>
  <dt><strong><%= model_class.human_attribute_name(:search_for_next_since) %>:</strong></dt>
  <dd><%= @medicover_visit_query.search_for_next_since %></dd>
  <dt><strong><%= model_class.human_attribute_name(:period_of_the_day) %>:</strong></dt>
  <dd><%= @medicover_visit_query.period_of_the_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:set_because_of_pcc) %>:</strong></dt>
  <dd><%= @medicover_visit_query.set_because_of_pcc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_set_because_promote_specialization) %>:</strong></dt>
  <dd><%= @medicover_visit_query.is_set_because_promote_specialization %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              medicover_visit_queries_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_medicover_visit_query_path(@medicover_visit_query), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              medicover_visit_query_path(@medicover_visit_query),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
